<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% if logged_in? %>
        <script type="text/javascript">
            window.current_user = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user
            ).html_safe %>
        </script>
    <% end %>
    <% if profile_set? %>
        <script type='text/javascript'>
            window.current_profile = <%= render(
                'api/profiles/profile.json.jbuilder',
                profile: current_profile
            ).html_safe %>
        </script>
    <%end%>
</head>
<body>
    <div id="root">
        <h1>React is broken</h1>
    </div>  
</body>
</html>